<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabio</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <h2>Criando Commits no Git</h2>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Iusto natus ex officiis, et <strong>architecto</strong> quasi sapiente necessitatibus dolorum nam
        dolore illum sequi laborum eligendi, asperiores beatae praesentium eaque numquam distinctio.
    </p>
    <br>
    <div class="background">
        <p>Example</p>
    </div>
    <div class="linear">

    </div>
</body>

</html>