<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabio</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <h2>Criando Commits no Git</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Iusto natus ex officiis, et architecto quasi sapiente necessitatibus dolorum nam
        dolore illum sequi laborum eligendi, asperiores beatae praesentium eaque numquam distinctio.
    </p>
</body>

</html>